@{
    ViewData["Title"] = "Termos de Uso";
}

<h1>@ViewData["Title"]</h1>
<hr />

<h2>1. Termos</h2>
<p>Ao acessar ao site [Nome do Seu Site], concorda em cumprir estes termos de serviço, todas as leis e regulamentos aplicáveis...</p>
<p>(Aqui vai o resto do seu texto de Termos de Uso...)</p>

<h2>2. Licença de Uso</h2>
<p>É concedida permissão para baixar temporariamente uma cópia dos materiais (informações ou software) no site [Nome do Seu Site] , apenas para visualização transitória pessoal e não comercial...</p>
<p>(etc...)</p>