@{
    ViewData["Title"] = "Política de Privacidade";
}

<h1>@ViewData["Title"]</h1>
<hr />

<p>A sua privacidade é importante para nós. É política do [Nome do Seu Site] respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar...</p>
<p>(Aqui vai o resto do seu texto da Política de Privacidade...)</p>